/* We are Broken By Friday... */

@font-face {
  font-family: 'Dreadful-Rot';
  src: url('./fonts/Dreadful-Rot.otf') format('opentype');
}

@font-face {
  font-family: 'Dreadful-Regular';
  src: url('./fonts/Dreadful-Regular.otf') format('opentype');
}

.app-container {
  position: relative; /* Parent relative positioning */
  width: 100vw; /* Full width */
  min-height: 100vh; /* Minimum height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}

.main-page {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  height: auto;
  width: 100vw;
  text-align: left;
  margin-top: 40px;
}

.concert1 {
  position: fixed; /* or position: absolute; based on your specific needs */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  object-fit: cover; /* Covers the entire area of the element, may cut off parts of the image */
  z-index: -1; /* Keeps the image behind other content; remove or adjust based on context */
}
/* The official logo image! */
.logo {
  width: 70vw; /* Adjust size more responsively */
  height: auto; /* Maintain aspect ratio */
  position: relative; /* Make it relative to flex item adjustments */
  margin-top: 0px; /* Space from top */
  z-index: 2;
}

.buttons-container {
  width: 100%; /* Full container width */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px; /* Space below the logo */
}

.button {
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  background: transparent;
  cursor: pointer;
  font-family: 'Dreadful-Regular';
}

.we-are-broken-by-friday {
  color: white;
  font-size: 50px;
  font-family: 'Dreadful-Regular';
  font-weight: 600;
  line-height: 44px;
  word-wrap: break-word;
  margin-left: 5%;
}

/* Ottawa’s up and coming pop punk sensation */
.ottawa-pop-punk {
  color: #828282;
  font-size: 30px;
  font-family: 'Dreadful-Regular';
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 0px;
  margin-left: 5%;
}

.display-photos {
  position: relative;
  width: 80vw;
  height: auto;  /* Adjusted to auto to fit content */
  min-height: 100vh;  /* Ensures minimum height */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  /* Adjusts spacing between images */
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 20px;  /* Optional: Adds padding around the container */
  overflow: hidden;  /* Ensures no content spills outside */
}

.concert2, .concert4 {
  padding: 10px;  /* Reduced padding to ensure fit within the container */
  position: relative;
  width: calc(30% - 20px);  /* Subtracts padding to ensure even distribution */
  height: auto;  /* Maintains aspect ratio */
  max-height: 80%;  /* Restricts height but maintains aspect ratio */
}

.concert3 {
    padding: 10px;  /* Reduced padding to ensure fit within the container */
    position: relative;
    width: calc(33% + 10px);  /* Subtracts padding to ensure even distribution */
    height: auto;  /* Maintains aspect ratio */
    max-height: 80%;  /* Restricts height but maintains aspect ratio */  
}
